@inherits LayoutComponentBase

<HxMessenger Position="ToastContainerPosition.TopEnd" />
<HxMessageBoxHost />

<div class="page">
	<NavMenu />

	<main>
		@Body
	</main>
</div>

<div id="blazor-error-ui" data-nosnippet>
	Došlo k neočekávané chybě.
	<a href="." class="reload">Obnovit stránku</a>
	<span class="dismiss">🗙</span>
</div>
