<div class="sidebar-wrapper" data-bs-theme="dark">
	<HxSidebar CssClass="app-sidebar">
		<HeaderTemplate>
			<HxSidebarBrand BrandName="Reality Scraper" BrandNameShort="RS" />
		</HeaderTemplate>

		<ItemsTemplate>
			<HxSidebarItem Text="Home" Icon="BootstrapIcon.HouseDoorFill" Href="" Match="NavLinkMatch.All" TooltipText="Home" />
			<HxSidebarItem Text="Scraper Tasks" Icon="BootstrapIcon.Search" Href="scraper-tasks" TooltipText="Scraper Tasks" />
			<HxSidebarItem Text="Reporty" Icon="BootstrapIcon.Envelope" Href="report-tasks" TooltipText="Reporty" />
			<HxSidebarItem Text="Reality" Icon="BootstrapIcon.Tags" Href="listings" TooltipText="Reality" />
		</ItemsTemplate>
	</HxSidebar>
</div>
